* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button {
  background-color: darkgray;
  padding: 10px;
  border-left: black;
  margin-left: 2px;
}

body,
html,
#root {
  height: 100%;
}
#root {
  position: relative;
  overflow: hidden;
  background-color: black;
}
.absolute {
  position: absolute;
  z-index: 1;
}

#tileset {
  display: flex;
  right: 10px;
  top: 5%;
  z-index: 2;
}
#tilesetToggle {
  height: 100%;
}

#selectedTile {
  --background: url("../resources/Sacae1.png");
  background-image: var(--background);
  background-repeat: no-repeat;
  background-size: 1024px 1024px;
  width: 32px;
  height: 32px;
  bottom: 12%;
  right: 5px;
}

#hotbar {
  background-color: gray;
  display: flex;
  left: calc(50vw - 146px);
  bottom: 5%;
  height: 40px;
  width: 292px;
  justify-content: space-evenly;
  align-items: center;
}
#gridEditors {
  display: flex;
  width: fit-content;
  height: fit-content;
}
.gridEditor {
  margin-top: 2px;
  margin-left: 2px;
}
#sizeInput {
  color: white;
  top: 42px;
}
#container {
  position: absolute;
  --background: url("../resources/Sacae1.png");
  --columns: 0;
  --rows: 0;
  --tilesize: 32px;
  left: 50%;
  top: 50%;
  display: grid;
  grid-template-columns: repeat(var(--columns), 32px);
  grid-template-rows: repeat(var(--rows), 32px);
  column-gap: 0px;
  row-gap: 0px;
  width: fit-content;
  overflow: hidden;
  z-index: 0;
}
#recenter {
  bottom: 5%;
  left: 5px;
}
#hotbarOptions {
  bottom: 5%;
  right: 0%;
}
.cell {
  background-image: var(--background);
  background-repeat: no-repeat;
  background-size: 1024px 1024px;
  width: var(--tilesize);
  height: var(--tilesize);
}

.hotbarCell {
  background-image: url("../resources/Sacae1.png");
  background-repeat: no-repeat;
  background-size: 1024px 1024px;
  width: 32px;
  height: 32px;
}

.hotbarEmpty {
  width: 32px;
  height: 32px;
  background-color: black;
}
