* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body,
html,
#root {
  height: 100%;
}
#root {
  position: relative;
  overflow: hidden;
}
.absolute {
  position: absolute;
  z-index: 1;
}

#tileset {
  display: flex;
  right: 10px;
  top: 100px;
}
#tilesetToggle {
  height: 100%;
}
#hotbarAdd {
  bottom: 90px;
  left: 0px;
}
#hotbarClear {
  bottom: 90px;
  left: 150px;
}
#selectedTile {
  --background: url("./resources/Sacae1.png");
  background-image: var(--background);
  background-repeat: no-repeat;
  background-size: 1024px 1024px;
  width: 32px;
  height: 32px;
  bottom: 90px;
  right: 5px;
}

#hotbar {
  display: flex;
  bottom: 60px;
  left: 0px;
}
#gridEditors {
  display: flex;
  width: 100%;
  height: fit-content;
}
#container {
  position: absolute;
  --background: url("./resources/Sacae1.png");
  --columns: 0;
  --rows: 0;
  --tilesize: 32px;
  display: grid;
  grid-template-columns: repeat(var(--columns), 32px);
  grid-template-rows: repeat(var(--rows), 32px);
  column-gap: 0px;
  row-gap: 0px;
  width: fit-content;
  overflow: hidden;
  z-index: 0;
}

.cell {
  background-image: var(--background);
  background-repeat: no-repeat;
  background-size: 1024px 1024px;
  width: var(--tilesize);
  height: var(--tilesize);
}

.hotbarCell {
  background-image: url("./resources/Sacae1.png");
  background-repeat: no-repeat;
  background-size: 1024px 1024px;
  width: 32px;
  height: 32px;
}
